<div th:fragment="index" xmlns:th="http://www.w3.org/1999/xhtml">
    <div>
        <table class="table">
            <thead  class="thead-dark">
                <tr>
                    <th scope="col">Technology Name</th>
                </tr>
            </thead>
            <tbody>
            <tr th:if="${technologies.empty}">
                <td colspan="2">empty</td>
            </tr>
            <tr th:each="technology : ${technologies}">
                <td>
                    <span th:text="${technology.technologyName}">Name</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>