<div xmlns:th="http://www.w3.org/1999/xhtml" class="d-flex justify-content-center">
    <div class="d-flex flex-column">
        <h1>Add Event</h1>
        <form class="form-group"  action="#" th:action="@{/events}" th:object="${event}" method="post">
            <label for="selectUser">Select User</label>
            <select class="form-control" id="selectUser" th:field="${user.userId}">
                <option th:each="user : ${users}"
                        th:value="${user.userId}"
                        th:text="${user.userName + ' ' + user.userSurname}">
                </option>
            </select>
            <label for="selectDeveloper">Select Developer</label>
            <select class="form-control" id="selectDeveloper" th:field="${developer.developerId}">
                <option th:each="developer : ${developers}"
                        th:value="${developer.developerId}"
                        th:text="${developer.toString()}">
                </option>
            </select>
            <div class="button-container">
                <input class="btn btn-primary" type="submit" value="Submit" />
                <input class="btn btn-danger" type="reset" value="Reset" />
            </div>
        </form>
    </div>
</div>