<div th:fragment="index" xmlns:th="http://www.w3.org/1999/xhtml">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Type</th>
            <th scope="col">Is active</th>
            <th scope="col">Remove</th>
            <th scope="col">Edit</th>
            <th scope="col">Activate or deactivate</th>
            <th scope="col">Info</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.empty}">
            <td colspan="2">empty</td>
        </tr>
        <tr th:each="user : ${users}">
            <td>
                <span th:text="${user.userName}"></span>
            </td>
            <td>
                <span th:text="${user.userSurname}"></span>
            </td>
            <td>
                <span th:text="${user.userType}"></span>
            </td>
            <td>
                <span th:text="${user.isActive}"></span>
            </td>
            <td>
                <form th:action="@{/users/{id}/delete(id=${user.userId})}" method="post">
                    <input class="btn btn-danger" type="submit" value="remove" />
                </form>
            </td>
            <td>
                <form th:action="@{/users/{id}/edit(id=${user.userId})}" method="get">
                    <input class="btn btn-secondary" type="submit" value="edit" />
                </form>
            </td>
            <td>
                <form th:action="@{/users/{id}/activate-or-deactivate(id=${user.userId})}" method="get">
                    <input class="btn btn-primary" type="submit" value="activate or deactivate" />
                </form>
            </td>
            <td>
                <form th:action="@{/users//{id}/info(id=${user.userId})}" method="get">
                    <input class="btn btn-primary" type="submit" value="info" />
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/users/new}">
        <input class="btn btn-success"  type="submit" value="Add new user" />
    </form>
</div>