<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Type</th>
                <th>Is Active</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${users.empty}">
                <td colspan="2">empty</td>
            </tr>
            <tr th:each="user : ${users}">
                <td>
                    <span th:text="${user.userName}"></span>
                </td>
                <td>
                    <span th:text="${user.userSurname}"></span>
                </td>
                <td>
                    <span th:text="${user.userType}"></span>
                </td>
                <td>
                    <span th:text="${user.isActive}"></span>
                </td>
                <td>
                    <form th:action="@{/users/{id}/delete(id=${user.userId})}" method="post">
                        <input type="submit" value="remove" />
                    </form>
                </td>
                <td>
                    <form th:action="@{/users/{id}/edit(id=${user.userId})}" method="get">
                        <input type="submit" value="edit" />
                    </form>
                </td>
                <td>
                    <form th:action="@{/users/{id}/activate-or-deactivate(id=${user.userId})}" method="get">
                        <input type="submit" value="activate or deactivate" />
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/users/new}">
        <input type="submit" value="Add new user" />
    </form>
</body>
</html>