<div th:fragment="index" xmlns:th="http://www.w3.org/1999/xhtml">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Technology</th>
            <th scope="col">Remove</th>
            <th scope="col">Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${developers.empty}">
            <td colspan="2">empty</td>
        </tr>
        <tr th:each="developer : ${developers}">
            <td>
                <span th:text="${developer.developerName}">Name</span>
            </td>
            <td>
                <span th:text="${developer.developerSurname}">Surname</span>
            </td>
            <td>
                <span th:text="${developer.developerTechnology.technologyName}">Developer</span>
            </td>
            <td>
                <form th:action="@{/developers/{id}/delete(id=${developer.developerId})}" th:method="post">
                    <input class="btn btn-danger" type="submit" value="remove" />
                </form>
            </td>
            <td>
                <form th:action="@{/developers/{id}/edit(id=${developer.developerId})}" th:method="get">
                    <input class="btn btn-secondary" type="submit" value="edit" />
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/developers/new}">
        <input class="btn btn-success" type="submit" value="Add new developer" />
    </form>
</div>