<div th:fragment="info" xmlns:th="http://www.w3.org/1999/xhtml" class="d-flex justify-content-center">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Technology</th>
            <th th:if="${(developer instanceof T(com.pas.pas.model.developers.FrontEnd))}" scope="col">Dummy Attribute</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <span th:text="${developer.developerName}"></span>
            </td>
            <td>
                <span th:text="${developer.developerSurname}"></span>
            </td>
            <td>
                <span th:text="${developer.developerTechnology.technologyName}"></span>
            </td>
            <td th:if="${(developer instanceof T(com.pas.pas.model.developers.FrontEnd))}">
                <span th:text="${developer.dummyAttribute}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>