<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Add Developer</h1>
    <form action="#" th:action="@{/developers}" th:object="${developer}" method="post">
        <label for="developerName" title="Name">Developer name</label>
        <p><input id="developerName" type="text" th:field="${developer.developerName}"/></p>
        <label for="developerSurname" title="Surname">Developer surname</label>
        <p><input id="developerSurname" type="text" th:field="${developer.developerSurname}" /></p>

        <table>
            <tr>
                <td>Select technology</td>
            </tr>
            <tr>
                <td>
                    <select id="selectType" th:field="${technology.technologyName}">
                        <option th:each="technology : ${technologies}"
                                th:value="${technology.technologyName}"
                                th:text="${technology.technologyName}"></option>
                    </select>
                </td>
            </tr>
        </table>

        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>